.botonesHistoria{
	text-align: right;
	padding: 0px;
}
.botonesHistoria button{
	padding: 0px;
}

.botonesHistoria svg{
    background-colors: rgb(214, 214, 255);
    height: 30px;
    width: 30px;
    stroke: #a83e3e;
    fill: rgba(255, 255, 255, 0);
}
#buscador {
    width: 250px;
}
.buscAnim {
    transition: all 0.5s ease;
}
.buscClickeable:hover {
    stroke: rgb(255 161 0);
	cursor: pointer;
}
#buscTexto {
    position: absolute;
    right: 65px;
    bottom: 12px;
    border: none;
    outline: none;
}

#tasaWrapper {
    display: inline;
    color: black;
    font-weight: bold;

}
#tasaWrapper input[type="text"] {
    width: 60px;
    border: none;
    font-size: 1em;
}

@media (max-width:650px){ /* Mobiles */

#buscador {
    width: 300px;
}

#buscTexto{
    bottom: 28px;
}
        
}