/* *******  Estilos Especificos  ******* */
/* Mobiles TODO: invertir para que mobil sea el mas generico*/
@media (max-width:650px){ /* Mobiles */

th {
    display: none;
}
td {
    display: block;
    border: none;
}
td::before {
    content: attr(data-cell) " ";
    font-weight: 700;
}

.titulos td{
	padding-bottom: 1rem;
}

thead td{
    border: 1px solid rgb(197, 197, 197);
}
	
}