:root {
	--altoEncabezado: 2.5rem;
	--bordeTopHeader: 20px;
	--altoTitulo: 20px;

	--altoPopup: 104px;
	--largoPopup: 300px;
}

/* *******  Todos los dispositivos  ******* */
@font-face { font-family: Futura; src: url('futura.ttf'); }
body{
	margin: 0 auto;
	font-family: Futura, sans-serif;
}
#encabezado {
    position: fixed;
    display: flex;
    justify-content: space-between; /* Spaces elements to edges */
    align-items: center;
    margin: 0;
    background-color: #a83e3e;
    height: var(--altoEncabezado);
    width: 100%;
    padding: 0 1rem; /* Adds space on left and right */
}

.left {
    display: flex;
    align-items: center; /* Ensures items stay in one line */
    gap: 0.5rem; /* Adds spacing between elements */
}

#usuario {
    color: white;
    font-weight: bold;
    margin-right: 1rem; /* Ensures spacing from the edge */
}
#usuario a {
	color: rgb(255 161 0);
}

.contPrincipal{
	width: min(100% - 2rem, 1100px);
	margin-inline: auto;  
}
#loggeo{
	position: absolute;
	width: min(100% - 2rem, 1100px);
	height: 300px;
	background-color: #a83e3e;
	top: var(--altoEncabezado);
    left: 50%;
    transform: translate(-50%, 0%);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
#camposLogeo{
	background-colors: #dadd36;
	width: 350px;
	height: 250px;
	text-align: right;
}
#loggeo input {
	width: 220px;
	margin: 15px;
	margin-right: 30px;
	background-color: transparent;
	color: white;
	border: none;
	border-bottom: 2px solid white;
	outline: none;
	padding: 4px;
	font-size: 1.05em;
}
#loggeo input:focus {
	border-bottom: 2px solid rgb(255 161 0);
}
#loggeo input::placeholder {
	color: rgb(175, 150, 105);
}
#loggeo a {
	color: rgb(255 161 0);
}
h1{
	padding-left: 10px;
	letter-spacing: 5px;
	color: white;
	margin: 0;
}
#empresa{
	color: white;
	font-size: 1.2em;
	margin: 10px;
	margin-left: 0;
	margin-right: 0;
}
#tabla{
	color: white;
	background-color: #a83e3e;
	font-size: 1.2em;
	font-family: Futura, sans-serif;
	padding: 0;
	border: none;
}
#tabla:hover{
	background-color: black;
	cursor: pointer;
}
#pj{
	color:rgb(78, 58, 255);
}
button{
	border: none;
	padding: 8px;
	padding-left: 15px;
	padding-right: 15px;
	background: #a83e3e;
	color: white;
	cursor: pointer;
	font-family: Futura, sans-serif;
	font-size: 1em
}
button:hover{
	background-color: #000000;
	color: white;
}
.botonPrincipal{
	background-color: rgb(255 161 0);
}

/*         Estilos tabla      */
table {
	border-collapse: collapse;
	width: 100%;
}
.nuevaData td:has(input:focus) {
    border-bottom: 2px solid rgb(255, 161, 0);
}
td, th {
	text-align: left;
	padding: 8px;
	border: 1px solid rgb(218, 218, 218);
}
.celdaEnEdicion {
	font-family: Futura, sans-serif;
	font-size: 1.1em;
	padding: 5px;
	border: none;
	outline: none;
	border-bottom: rgb(255 161 0);
}
th:hover .icono,
td:hover .icono {
	display: inline-block;
}
tr:hover .botAct{
	display: inline-block;
}
th {
	position: -webkit-sticky;
	position: sticky;
	top: calc(var(--altoEncabezado) - var(--bordeTopHeader) + 58px);
	background-color: white;
}
tbody > tr:nth-of-type(odd) {
	background-color: #f5f5f5; /* prefiero #f5f5f5 pero mientras cuadro lo dejo como esta */
}
@keyframes colorTransition {
	0% {
		color: rgb(255, 161, 0);
	}
	100% {
		color: black;
	}
}
.filaIngresada {
	animation: colorTransition 20s forwards;
}

.registros {
	position: -webkit-sticky;
	position: sticky;
	top: calc(var(--altoEncabezado) - var(--bordeTopHeader));
	background-color: white;
}
.titulos{
	color: #a83e3e;
	font-size: 1.2em;
	border-top: 40px solid white; /* 40px debe ajustarse con bordeTopHeader */
	height: var(--altoTitulo);
}
.titulos td{
	border: none;
}
.nuevaData input[type="text"], .nuevaData input[type="date"]{
	border: none;
	width: 100%;
}
.nuevaData input[type="text"]:focus, .nuevaData input[type="date"]:focus{
	outline: none;
}
.botonesNuevos td{
	border: none;
}
#resumen{
	display: inline;
	color: black;
	margin: 20px;
	margin-right: 10px;
	font-size: 0.8em;
}

#popup{
	position: fixed;
	display: none;
	top: 115px;
	left: 290px;
	height: var(--altoPopup);
	width: var(--largoPopup);
	background-color: #a83e3e;
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.5);
}

/* Loader Spinners */
.loader {
	width: 40px;
	height: 20px;
	--c:no-repeat radial-gradient(farthest-side,#ffffff 93%,#ffffff00);
	background:
	  var(--c) 0    0,
	  var(--c) 50%  0;
	background-size: 8px 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	clip-path: inset(-200% -100% 0 0);
	animation: l6-0 1.5s linear infinite;
  }
.loader:before {
	content: "";
	position: absolute;
	width: 8px;
	height: 12px;
	background: #ffffff;
	left: -16px;
	top: 0;
	animation: 
		l6-1 1.5s linear infinite,
		l6-2 0.5s cubic-bezier(0,200,.8,200) infinite;
}
.loader:after {
	content: "";
	position: absolute;
	inset: 0 0 auto auto;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #ffffff; 
	animation: l6-3 1.5s linear infinite;
}
@keyframes l6-0 {
	0%,30%  {background-position: 0  0   ,50% 0   }
	33%     {background-position: 0  100%,50% 0   }
	41%,63% {background-position: 0  0   ,50% 0   }
	66%     {background-position: 0  0   ,50% 100%}
	74%,100%{background-position: 0  0   ,50% 0   }
}
@keyframes l6-1 {
	90%  {transform:translateY(0)}
	95%  {transform:translateY(15px)}
	100% {transform:translateY(15px);left:calc(100% - 8px)}
}
@keyframes l6-2 {
	100% {top:-0.1px}
}
@keyframes l6-3 {
	0%,80%,100% {transform:translate(0)}
	90%         {transform:translate(26px)}
}

#dataLoader {
	position: fixed;
	transform: translateX(300px);
}
.dataL{
	--c:no-repeat radial-gradient(farthest-side,#000000 93%,#ffffff00);
}
.dataL:before{
	background: #000000;
}
.dataL:after{
	background: #000000;
}
/* finish spinner */

  #subData p {
	margin: 0;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 1px;
	color: white;
}
  #subData p:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.icono {
	position: absolute;
	right: 8px;
	background-color: transparent;
	color: black;
	padding: none;
	margin: 0;
	padding: 2px;
	display: none;
}
.iconoEscondido {
	display: none !important;
}
.editar {
	position: static;
}
.colAct{
	width: 20px;
	background-color: white;
	border: none;
}
.botAct {
	position: static;
	color: #a83e3e;
	font-size: 1.4em;
}

.filtroActivo {
	display: inline-block;
	background-color: #000000;
	color: white;
}
.filtroActivo:hover {
	background-color: #b60000;
}

.espacioFinal{
	box-sizing: border-box;
	background-color: #a83e3e;
	height: 100px;
	width: 100%;
	color: white;
	text-align: center;
	padding: 5px;
}